@model X.PagedList.IPagedList<MyWebApp.Models.NhanVien>

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý nhân viên</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    @* <link rel="stylesheet" type="text/css" href="~/css/site.css" /> *@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body style="font-size: 1.9vh;">
    <div class="header">
        <div class="logo-container">
            <a href="http://localhost:5135"><img src="~/css/assets/cukcuk-logo.png" alt="Logo" class="logo"></a>
            
            <div class="list-branch">
                <div class="dropdown">
                    <a class="btn dropdown-toggle branch-btn" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none; color: black;">
                        Chọn chi nhánh
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Chi nhánh TP Hồ Chí Minh</a>
                        <a class="dropdown-item" href="#">Chi nhánh Hà Nội</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="avatar-container">
            <img src="~/css/assets/icon/avatar-default.png" alt="Avatar" class="avatar">
            <div class="avatar-name">Lê Công Nam</div>
            <div class="avatar-option">
                <img src="~/css/assets/icon/option.png" alt="">
            </div>
        </div>
    </div>
    <div class="nam_container">
        <div class="sidebar">
            <ul>
                <li>
                    <img src="~/css/assets/icon/dashboard.png" alt="">
                    <a href="http://localhost:5135">Trang chủ</a>
                </li>
                <li>
                    <img src="~/css/assets/icon/report.png" alt="">
                    <a href="#">Báo cáo</a>
                </li>
                <li>
                    <img src="~/css/assets/icon/dic-employee.png" alt="">
                    <a href="#">Nhân viên</a>
                </li>
                <li>
                    <img src="~/css/assets/icon/setting.png" alt="">
                    <a href="#">Cài đặt</a>
                </li>
            </ul>
            <div class="end-sidebar" id="toggleSidebar">
                <i class="fa fa-chevron-left" style="padding-right: 10px;"></i> Thu gọn
            </div>
        </div>
        <div class="main-content">
            <div class="main-content_header">
                <div style="font-size: 4.5vh;">Quản lý nhân viên</div>
                <button>
                    <a href="javascript:void(0)" style="text-decoration: none; color: #fff">
                        <img src="~/css/assets/icon/add.png" alt="">
                        Thêm mới
                    </a>
                </button>
            </div>
            <div class="search-container">
                <div class="search-container_left">
                    <form method="get" action="@Url.Action("Index")">
                        <input type="text" id="searchInput" name="searchQuery" value="@ViewBag.SearchQuery" placeholder="Tìm kiếm theo mã, họ tên..." class="form-control">
                        
                        
                    </form>
                </div>
                <div class="search-container_right">
                    <div class="excel">
                        <img src="~/css/assets/icon/export-excel-50.png" alt="">
                    </div>
                    <div class="reload">
                        <img src="~/css/assets/icon/refresh.png" alt="" id="reloadBtn">
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã nhân viên</th>
                        <th>Họ tên đầy đủ</th>
                        <th>Giới tính</th>
                        <th>Địa chỉ</th>
                        <th>Ngày sinh</th>
                        <th>Địa chỉ email</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        int stt = (Model.PageNumber - 1) * Model.PageSize + 1;
                        foreach (var nhanVien in Model)
                        {
                            <tr>
                                <td>@stt</td>
                                <td>@nhanVien.ma_nhan_vien</td>
                                <td>@nhanVien.ten_nhan_vien</td>
                                <td>@nhanVien.gioi_tinh</td>
                                <td>@nhanVien.dia_chi</td>
                                <td>@nhanVien.ngay_sinh.ToString("dd/MM/yyyy")</td>
                                <td style="display: flex; justify-content: space-between;">
                                    <div class="">@nhanVien.email</div>
                                    <div class="hide-icon_form">
                                        <div class="edit-btn" data-id="@nhanVien.id">
                                            <i class="fa-solid fa-user-pen" style="color: rgb(26, 195, 37);"></i>
                                        </div>

                                        <div class="delete-btn" data-id="@nhanVien.id" style="border: none; padding-left: 5px;">
                                            <i class="fa-solid fa-x" style="color: red;"></i>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            stt++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7" class="text-center">Không có dữ liệu</td>
                        </tr>
                    }
                </tbody>
            </table>
            <nav aria-label="Page navigation example" class="pagination-container" >
                <ul class="pagination">
                    <!-- Trang đầu -->
                    <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                        <a class="page-link" href="@Url.Action("Index", new { page = 1, searchQuery = ViewBag.SearchQuery })">«</a>
                    </li>

                    <!-- Lùi trang -->
                    <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                        <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1, searchQuery = ViewBag.SearchQuery })">‹</a>
                    </li>

                    <!-- Trang hiện tại -->
                    
                        <li class="page-item active">
                            <a class="page-link" >@Model.PageNumber</a>
                        </li>
                    

                    <!-- Tiến trang -->
                    <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                        <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1, searchQuery = ViewBag.SearchQuery })">›</a>
                    </li>

                    <!-- Trang cuối -->
                    <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                        <a class="page-link" href="@Url.Action("Index", new { page = Model.PageCount, searchQuery = ViewBag.SearchQuery })">»</a>
                    </li>
                </ul>
                <div class="pagination-info" style="padding: 8px;">
                    <span>Tổng số trang: @Model.PageCount</span>
                </div>
            </nav>
        </div>
    </div>
    <div class="footer"></div>

    <div class="modal fade" id="addNewStaffModal" tabindex="-1" aria-labelledby="addNewStaffModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addNewStaffModalLabel">Thêm mới nhân viên</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="employeeForm" asp-controller="NhanVien" asp-action="Create" method="post">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="ma_nhan_vien" class="form-label">Mã nhân viên:</label>
                                <input type="text" class="form-control" id="ma_nhan_vien" name="ma_nhan_vien" required value="Create Automatically" readonly />
                            </div>
                            <div class="col-md-6">
                                <label for="ten_nhan_vien" class="form-label">Họ và tên:</label>
                                <input type="text" class="form-control" id="ten_nhan_vien" name="ten_nhan_vien"
                                    required>
                            </div>
                            <div class="col-md-6">
                                <label for="ngay_sinh" class="form-label">Ngày sinh:</label>
                                <input type="date" class="form-control" id="ngay_sinh" name="ngay_sinh" required>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label d-block">Giới tính:</label>
                                <div class="choose_gender" style="display: flex;">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gioi_tinh" id="gioiTinhNam"
                                            value="Nam" required>
                                        <label class="form-check-label" for="gioiTinhNam">Nam</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gioi_tinh" id="gioiTinhNu"
                                            value="Nữ">
                                        <label class="form-check-label" for="gioiTinhNu">Nữ</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gioi_tinh" id="gioiTinhKhac"
                                            value="Khác">
                                        <label class="form-check-label" for="gioiTinhKhac">Khác</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label for="vi_tri" class="form-label">Vị trí:</label>
                                <input type="text" class="form-control" id="vi_tri" name="vi_tri" required>
                            </div>
                            <div class="col-md-4">
                                <label for="so_cmnd" class="form-label">Số CMND:</label>
                                <input type="text" class="form-control" id="so_cmnd" name="so_cmnd" required>
                            </div>
                            <div class="col-md-4">
                                <label for="ngay_cap_cmnd" class="form-label">Ngày cấp CMND:</label>
                                <input type="date" class="form-control" id="ngay_cap_cmnd" name="ngay_cap_cmnd"
                                    required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label for="noi_cap_cmnd" class="form-label">Nơi cấp CMND:</label>
                                <input type="text" class="form-control" id="noi_cap_cmnd" name="noi_cap_cmnd" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label for="dia_chi" class="form-label">Địa chỉ:</label>
                                <input type="text" class="form-control" id="dia_chi" name="dia_chi" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label for="so_dien_thoai" class="form-label">Điện thoại di động:</label>
                                <input type="tel" class="form-control" id="so_dien_thoai" name="so_dien_thoai" required>
                            </div>
                            <div class="col-md-4">
                                <label for="so_dien_thoai_co_dinh" class="form-label">Điện thoại cố định:</label>
                                <input type="tel" class="form-control" id="so_dien_thoai_co_dinh"
                                    name="so_dien_thoai_co_dinh">
                            </div>
                            <div class="col-md-4">
                                <label for="email" class="form-label">Email:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label for="so_tai_khoan_ngan_hang" class="form-label">Tài khoản ngân hàng:</label>
                                <input type="text" class="form-control" id="so_tai_khoan_ngan_hang"
                                    name="so_tai_khoan_ngan_hang" required>
                            </div>
                            <div class="col-md-4">
                                <label for="ten_ngan_hang" class="form-label">Tên ngân hàng:</label>
                                <input type="text" class="form-control" id="ten_ngan_hang" name="ten_ngan_hang"
                                    required>
                            </div>
                            <div class="col-md-4">
                                <label for="chi_nhanh_ngan_hang" class="form-label">Chi nhánh ngân hàng:</label>
                                <input type="text" class="form-control" id="chi_nhanh_ngan_hang"
                                    name="chi_nhanh_ngan_hang" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col text-end">
                                <button type="reset" class="btn btn-secondary">Hủy</button>
                                <button type="submit" class="btn btn-primary"
                                    style="background-color: rgb(13, 179, 13);">Lưu</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/shrink.js"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelector(".main-content_header button").addEventListener("click", function () {
            var myModal = new bootstrap.Modal(document.getElementById('addNewStaffModal'), {
                keyboard: false
            });
            myModal.show();
        });

        document.querySelectorAll(".delete-btn").forEach(function (div) {
            div.addEventListener("click", function () {
                var employeeId = this.getAttribute("data-id");
                console.log(employeeId);
                if (confirm("Bạn có chắc chắn muốn xóa nhân viên này?")) {
                    fetch(`/NhanVien/Delete/${employeeId}`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                            'RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]').value
                        }
                    })
                    .then(response => {
                        if (response.ok) {
                            alert("Xóa thành công");
                            window.location.reload();
                        } else {
                            return response.text().then(text => {
                                alert("Xóa không thành công: " + text);
                            });
                        }
                    })
                    .catch(error => {
                        console.error('Có lỗi xảy ra:', error);
                        alert("Có lỗi xảy ra khi xóa.");
                    });
                }
            });
        });

        document.querySelectorAll(".edit-btn").forEach(function (div) {
            div.addEventListener("click", function () {
                var id = this.getAttribute('data-id');
                console.log(id);
                var editUrl = '@Url.Action("Edit", "NhanVien", new { id = "__id__" })'.replace('__id__', id);

                window.location.href = editUrl;
            });
        });
    });
    document.getElementById("reloadBtn").addEventListener("click", function () {
        window.location.reload();
    });
    </script>
</body>
</html>
